@mixin display() {
  display: flex;
  justify-content: space-between;
}
$primary-color: hsl(26, 100%, 55%);
$secondry-color: hsl(25, 100%, 94%);
$para-color: hsl(220, 14%, 75%);
$title-color: hsl(220, 13%, 13%);
$color: hsl(223, 64%, 98%);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

p {
  font-size: 16px;
}
.hidden {
  display: none !important;
}
.opacity {
  opacity: 0.5 !important;
  img {
    border: 2px solid $primary-color;
  }
}
